<h1>Contact Us!</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<div class="container">
  <div class="row">
    <div class=".col-xs-6 .col-lg-4">
    <p>contact info will go here</p>
    </div>
    <div class="col-xs-12 .col-sm-6 .col-lg-8">
    <p>contact form will go here</p>
    </div>
  </div>
</div>
