<h1>Products Available from your Online Store</h1>
<p>Find me in app/views/static_pages/products.html.erb</p>
<div class="container">
  <div class="row">
		<div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="first">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">First Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="second">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Second Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="third">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Third Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="fourth">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Fourth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="fifth">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Fifth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="sixth">
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Sixth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

  </div> <!-- /.row -->
</div> <!-- /.container -->